@{
    ViewData["Title"] = "Home Page";
    SampleSite.Temporary temp = new SampleSite.Temporary();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <br />
    <br />
    
    <h3>@temp.Name</h3>
</div>
